@import "header.scss";
@import "variables.scss";


body{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
 }
 *{
     font-family: sans-serif;
 }
 .contenedor{
 width: $width-estandar;
 margin: auto;
 }
 .form-group{
     
     width: $width-estandar;
     height: 100%;
     padding: 20px;
 }
 .parrafo{
     text-align: $texto-alineado-estandar;
     padding: 30px;
     color: #292929;
     
 }
 .contenedor h2{
     color: #292929;
     text-align: $texto-alineado-estandar;
     padding: 20px;
 
 }
 .contenedor h3{
     color: #fff;
 }
 
 img{
     width: $width-estandar;
 }
 
 .logo{
     font-weight: 900;
     font-size: 30px;
     margin: 10px;
     font-family: cambria;
    color: #fff;
 }
 .banner{
     height: 80vh;
     margin-top: 10px;
     position: relative;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
    &__descripcion{
        position: absolute;
        text-align: $texto-alineado-estandar;
        color: #fff;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        width: $width-estandar;
        font-size: 15px;
        margin-top: 25px;
 }
}
 
 .button__banner{
     background: #9cc76b;
     border: none;
     padding: 12px;
     color: #fff;
     font-size: 20px; 
 }
 .button__banner:hover{
     border:2px solid #9cc76b;
     background: none;
 }
 .galeria h1{
     font-size: 40px;
     text-align: $texto-alineado-estandar;
 }
 .galeria{
     margin: 20px;
 }
 .team  h1{
     font-size: 40px;
 text-align: $texto-alineado-estandar;
 }
 .team{
     background: #ffffff;
     padding: 30px;
 }
 .team__columna img{
 border-radius: 50%;
 }
 .team p{
     text-align: justify;
 }
 .team__grid{
     display: grid;
     grid-gap:30px;
     padding: 30px;
 }
 
 .header__contenido{
    position:$posicion-header;
    z-index: $index;
}
 
 
 .banner2{
     height: 60vh;
    color: #fff;
     position: relative;
    background: url('../img/banner1.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
 
    h1{
     font-size: 28px;
 }
}
 .banner2__descripcion{
 position: absolute;
 width: $width-estandar;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 text-align: $texto-alineado-estandar;
 }

 .footer{
     background: #292929;
     color: #fff;
     text-align: $texto-alineado-estandar;
     padding: 10px;
 
 }
 @media(min-width:520px){
    .banner h1{
        font-size: 30px;
    }
    .grid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);
    }
    .team .team__grid {
     grid-template-columns: repeat(2,1fr);
    }
    .info .contenedor{
     grid-template-columns: repeat(3,150px);
     justify-content: space-around;
    }
    .banner2 h1{
        font-size: 50px;
    }
    .banner2 p{
        font-size: 25px;
    }
 }
 
 @media(min-width:728px){
 
     .team .team__grid{
         grid-template-columns: repeat(3,195px);
         justify-content: space-around;
     }
 }
 @media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    .banner h1{
        font-size: 45px;
    }   
 .grid{
     grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
 grid-auto-flow: dense;
 grid-auto-rows: 160px;
 
 }
 }
 .big{
     grid-column: span 2;
     grid-row: span 2;
 }
 .banner2 p{
     font-size: 30px;
 }
 .banner3 p{
     font-size: 30px;
 }
 .banner3 h1{
     font-size: 50px;
 }
 .banner p{
     font-size: 25px;
 }
 nav ul {
     display: flex;
     justify-content: space-between;
   }
   .nav-barra{
     display: inline-block;
     background: black;
     color: white;
     padding: 10px 30px;
     text-decoration: none;
     
     }
     nav{
       background: black;
       padding: 10px;
       display: flex;
       justify-content: flex-end;
     }
 
     .banner3{
         height: 60vh;
        color: #fff;
         position: relative;
        background: url('../img/banner3.jpg');
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
     }
     .banner3 h1{
         font-size: 28px;
     }
     
 
     .section{
         width: $width-estandar;
         height: 60vh;
         background-color: rgb(255, 255, 255);
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .box{
         width: 33%;
         height: 50vh;
         text-align: $texto-alineado-estandar;
         overflow: hidden;
         position: relative;
         margin: 1.5%;
         border-radius: 10px;
 
     
     img{
         width: $width-estandar;
         height: 100%;
         object-fit: cover;
     
 }
}

.box .hover{
    width: 0%;
    height: 50vh;
    background-color: #6465625d;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: -4s all;
    }

 .hover h1{
     color: aliceblue;
     text-shadow: 1px 1px 1px black;
     font-size: 2.5em;
     text-transform: uppercase;
 }
    .box:hover .hover{
    width: $width-estandar;
 
 }
 h1{
     font-weight: 400;
     text-align: $texto-alineado-estandar;
     padding: 20px 0;
     font-size: 40px;
 
 }
 h2{
     font-weight: 400;
     color:#fff;
     font-size: 40px;
 }
 .linea{
     background: #9cc76b;
     height: 5px;
     width: $width-estandar;
     display: block;
     
 
    
 
 }
 .galeria_servicios{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     width: 95%;
     margin: auto;
     grid-gap: 10px;
     padding: 40px 0;
     overflow: hidden;
 }
 .galeria_servicios img{
     width: $width-estandar;
     vertical-align: top;
     height: 300px;
     object-fit: cover;
     transition: transform 0.5s;
 }
 .galeria_servicios a:hover img{
     filter: blur(2px);
     transform: rotate(10deg) scale(1.3);
 
 }
 .galeria_servicios > a{
     display: block;
     position: relative;
     overflow: hidden;
     box-shadow: 0 0 6px rgba(0, 0, 0, .5);
 
 }
 .light-box{
     position: fixed;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, .5);
     transition: transform .3s ease-in-out;
     width: $width-estandar;
     z-index: 1000;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: scale(0);
 
 }
 .light-box img{
     width: 75vw;
     max-height: 70vh;
 
 }
 .light-box:target{
     transform: scale(1);
 
 }
 .close{
     display: block;
     position: absolute;
     top: 40px;
     right: 40px;
     background: #9cc76b;
     color: #fff;
     text-decoration: none;
     width: 40px;
     height: 40px;
     text-align: $texto-alineado-estandar;
     line-height: 40px;
     border-radius: 50%;
 
 }
 .next{
     display: block;
     background: #9cc76b;
     color: #fff;
     height: 30px;
     width: 30px;
     line-height: 30px;
     text-decoration: none;
     text-align: $texto-alineado-estandar;
 }
 .col{
     padding: 30px;
 }
 
 .social-bar {
     position: fixed;
     right: 0;
     top: 35%;
     font-size: 1.5rem;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     z-index: 100;
 }
 
 
 .container-bar{
     width: $width-estandar;
     max-width: 50px;
     position: fixed;
     left: 0;
     top: 25%;
 }
 .container-bar a{
     display: block;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: $texto-alineado-estandar;
     text-decoration: none;
     font-size: 18px;
     position: relative;
     transition: all 500ms ease;
     color: #fff;
 }
 .container-bar a:hover{
     background: #1c1c1c;
 }
 .container-bar .fa-facebook{
     background: #3b5998;
     border-radius: 0px 5px 0px 0px;
 }
 .container-bar .fa-youtube{
     background: #e52a23;
 }
 .container-bar .fa-twitter{
     background: #00acee;
 }
 .container-bar .fa-github{
     background: #747473;
 }
 .container-bar .fa-pinterest{
     background: #c8232c;
     border-radius: 0px 0px 5px 0px;
 }
 .container-bar #title{
     position: absolute;
     background: #1c1c1c;
     padding: 0px 8px;
     height: 30px;
     line-height: 30px;
     text-align: $texto-alineado-estandar;
     border-radius: 3px;
     font-size: 15px;
     top:12px; left: 0px;
     transition: all 500ms ease;
     opacity: 0;
     visibility: hidden;
     z-index: -1;
 }
 .container-bar a:hover #title{
     opacity: 1;
     visibility: visible;
     left: 64px;
 }
 .container-bar #title:after{
     position: absolute;
     content: '';
     border-left: 7px solid transparent;
     border-right: 6px solid #1c1c1c;
     border-top: 7px solid transparent;
     border-bottom: 7px solid transparent;
     right: 100%;
     top: 8px;
 }
 #btn-social{
     display: none;
 }
 .fa-play{
     cursor: pointer;
     transition: all 0.4s;
     font-size: 12px;
     margin-bottom: 5px;
     display: inline-block;
     transform: rotate(180deg);
     color: #49b0e6;
 }
 #btn-social:checked ~ .fa-play{
     transform: rotate(0deg);
 }
 .icon-social{
     transition: all 0.4s;
     transform: translateX(0%);
     box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
 }
 #btn-social:checked ~ .icon-social{
     transform: translateX(-100%);
     box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
 }
 body {
     background: #181818;
     color: #fff;
     line-height: 1.6;
     font-family: 'Quicksand', sans-serif;
     padding: 0 1.5em;
 }
 
 .container {
     max-width: 1170px;
     margin-left: auto;
     margin-right: auto;
     padding: 1.5em;
 }
 
 ul {
     list-style: none;
     padding: 0;
 }
 
 .logo {
     text-align:relative;
     font-size: 3em;
 }
 
 .logo span {
     color: #4cb70e;
 }
 
 .contact-wrapper {
     box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
 }
 
 .contact-wrapper > * {
     padding: 1em;
 }
 
 .contact-form {
     background: #d6d2d28f;
     
 }
 
 .contact-form form {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 
 .contact-form form label {
     display: block;
 }
 
 .contact-form form p {
     margin: 0;
     padding: 1em;
 }
 
 .contact-form form .block {
     grid-column: 1 / 3;
 }
 
 .contact-form form button,
 .contact-form form input,
 .contact-form form textarea {
     width: $width-estandar;
     padding: .7em;
     border: none;
     background: none;
     outline: 0;
     color: rgb(7, 7, 7);
     border-bottom: 1px solid #d63031;
 }
 
 .contact-form form button {
     background: #B70E21;
     border: 0;
     text-transform: uppercase;
     padding: 1em;
 }
 
 .contact-form form button:hover,
 .contact-form form button:focus {
     background: #d63031;
     color: #fff;
     transition: background-color 1s ease-out;
     outline: 0;
 }
 
 
 .contact-info {
     background: #9cc76b  
 }
 
 .contact-info h4, .contact-info ul, .contact-info p {
     text-align: $texto-alineado-estandar;
     margin: 0 0 1rem 0;
 }
 
 
 @media(min-width: 700px) {
     body {
         padding: 0 4em;
     }
     .contact-wrapper {
         display: grid;
         grid-template-columns: 2fr 1fr;
     }
     .contact-wrapper > * {
         padding: 2em;
     }
     .contact-info h4,
     .contact-info ul,
     .contact-info p {
         text-align: left;
     }
 }
 .content{
     padding: 30px;
 }
 